body{
  background: url("/images/apple_watch.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 600px;
}

h1{
  text-align: center;
  font-size: 60px;
  margin: 25% auto;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.button{
  width: 120px;
  height: 50px;
  margin: 0px 20px;
  border-radius: 10px;
  position: relative;
  left: 28%;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  background: white;
  cursor: pointer;
}

#reset{
  background: red;
}
